Host github.com
  HostName github.com
  User git
  IdentityFile ~/.ssh/github
  IdentitiesOnly yes

Host homelab-debian
  HostName YOUR_HOMELAB_LOCAL_IP
  User YOUR_HOMELAB_USER
  IdentityFile ~/.ssh/homelab-debian
  AddKeysToAgent yes

Host homelab-debian-remote
  HostName YOUR_HOMELAB_TAILSCALE_IP
  User YOUR_HOMELAB_USER
  IdentityFile ~/.ssh/homelab-debian
  AddKeysToAgent yes
